html body {
    background-color: #43464B;
    color:#F9F9F9;
  }

  #title{
    padding-top: 10px;
    position: relative;
    text-align: center;
  }

  #spotifyLogo{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    opacity: 50%;
    width:50%;
    left:24%;
  }

  #selectFeatures{
    padding-top: 3em;
    text-align: center;
  }

  #selectSong{
    padding-top: 3em;
    text-align: center;
  }

  #searchSong{
    width:70%;
    text-align: center;
    position: relative;
    margin-left: 13%;
  }

  #response{
    color:black;
  }

  li{
    list-style: none;
    border: 1px solid black;
    background-color: white;
  }

  li:hover{
    color:#1CB854;
    background-color: #2A2725;
  }

  .selbut{
    text-align: center;
    padding-top: 10px;
  }

  .btn{
    margin-left:.5em;
  }
