html body {
    background-color: #43464B;
    color:#F9F9F9;
  }

  #title{
    padding-top: 10px;
    position: relative;
    text-align: center;
  }

  #spotifyLogo{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    opacity: 50%;
    width:50%;
    left:24%;
  }

  #selectFeatures{
    padding-top: 3em;
    text-align: center;
  }

  #selectSong{
    padding-top: 3em;
    text-align: center;
  }

  #searchSong{
    width:50%;
    text-align: center;
    position: relative;
    left: 25%;
  }

  #response{
    color:black;
  }

  #submitPlaylist{
    padding-top: 15px;
    text-align: center;
  }

  #songPreview{
    /* position: relative; */
    text-align: center;
    padding-bottom: 4px;
  }

  li{
    position: relative;
    list-style: none;
    border: .5px solid gray;
    background-color: white;
    right: 16%;
    width: 120%;

  }

  li:hover{
    color:#1CB854;
    background-color: #2A2725;
  }

  .featrow{
    padding-bottom: 10px;
    justify-content: space-around;
  }

  #features{
    width:70%;
    max-width: 500px;

  }

  #submitBox{

    padding-top: 10px;
    text-align: center;
  }
